<div class="card m-3 text-center" style="width: 20rem;">
  <img class="card-img-top" src={{@poster}} alt="{{@title}} Movie Poster">
  <div class="card-body">
    <h5 class="card-title">{{@title}} ({{@year}})</h5>
  </div>
</div>

{{yield}}