<div class="container-fluid">
  <div class="row justify-content-center">
    <h1>Favorites</h1>
  </div>
  <div class="row justify-content-center">
    {{#each model as |favorite|}}
      <LinkTo @route="detail" @model={{favorite.imdbID}}>
        <MovieCard @title={{favorite.title}} @year={{favorite.year}} @poster={{favorite.poster}} />
      </LinkTo>
    {{else}}
      <h3>You have no favorites, yet!</h3>
    {{/each}}
  </div>
</div>

{{outlet}}